<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<title>Anderson - Responsive Onepage Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- DEFAULT TEMPLATE FONTS DO NOT REMOVE -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<!-- MAIN CSS LIBRARIES -->
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="css/YTPlayer.css" rel="stylesheet" type="text/css" />
<link href="css/animate.css" rel="stylesheet" type="text/css" />

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="rs-plugin/css/extralayers.css" media="screen" />

<!-- MAIN STYLES FOR THE TEMPLATE -->
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top"></div>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>




<!-- *** HEADER STARTS *** -->
<header class="transparent_menu">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<!-- *** LOGOS STARTS *** -->
				<div id="logo">
					<a href="#top"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="logo_dark">
					<a href="#top"><img src="images/logo_dark.png" alt="logo"></a>
				</div> 
				<!-- *** LOGOS END *** -->

			

				<ul class="mobile_nav_trigger">
						<li><a href="#responsive_nav" class="menu_trigger"><i class="fa fa-bars fa-2x"></i></a></li>
				</ul>

					<div class="social_nav">
					<ul>
						<li class="twitter_header_icon"><a href="#twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li class="facebook_header_icon"><a href="#facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
					
					</ul>
				</div>
				

				<!-- *** MAIN NAVIGATION STARTS *** -->
				<nav class="main_nav white">
					<ul>
						<li class="active"><a href="index.html#top" class="external">Home</a></li>
						<li><a href="index.html#about-us" class="external">About </a></li>
						<li><a href="index.html#services" class="external">Services</a></li>
						<li><a href="index.html#portfolio" class="external">Portfolio</a></li>
						<li><a href="index.html#process_one" class="external">Process</a></li>
						<li><a href="index.html#faq" class="external">FAQ</a></li>
						<li><a href="index.html#blog" class="external">Blog</a></li>
						<li><a href="index.html#footer" class="external">Contact</a></li>
						<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
					</ul>
				</nav>
				<!-- *** MAIN NAVIGATION END *** -->

			</div><!--col-me-12-->
		</div><!--row-->
	</div><!--container-fluid-->


<!-- *** RESPONSIVE NAV START *** -->
	<div class="responsive_nav">
		<div class="mobileAreaMenu">
			<ul>
				<li class="active"><a href="index.html#top" class="external">Home</a></li>
				<li><a href="index.html#about-us" class="external">About </a></li>
				<li><a href="index.html#services" class="external">Services</a></li>
				<li><a href="index.html#portfolio" class="external">Portfolio</a></li>
				<li><a href="index.html#process_one" class="external">Process</a></li>
				<li><a href="index.html#faq" class="external">FAQ</a></li>
				<li><a href="index.html#blog" class="external">Blog</a></li>
				<li><a href="index.html#footer" class="external">Contact</a></li>
				<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
			</ul>
		</div><!--mobileAreaMenu-->
	</div><!--responsive_nav-->
<!-- *** RESPONSIVE NAV END *** -->

</header>
<!-- *** HEADER END *** -->

<!-- *** SLIDE STARTS *** -->
<div id="blog_header" style="background-image: url(http://placehold.it/1920x350);">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="blog_title_heading">
				<h1>Read Our Amazing News</h1>
			</div>
		</div><!--col-md-12-->
		
	</div>
</div>
</div>
<!-- *** SLIDE END *** -->


<div class="blog_wrapper">
	<div class="container">
		<div class="row">
			<div class="blog_content">
		<div class="col-md-8">




	<!-- *** BLOG ITEM START *** -->
		<div class="blog-item blog-post">
			<div class="the-date-big">
				<a href="#">
					<span class="number">04</span>
					<span class="month">OCT</span>
				</a>
			</div>

			<a href="blog-post.html"><div class="img-container-blog" style="background-image: url(http://placehold.it/800x400);"></div></a>

			<div class="blog-boddy">
				<div class="the-title"><h1><a href="blog-post.html">What happens with the plataform at Facebook?</a></h1></div>
				<div class="metas">
					<div class="the-author"><a href="#"><i class="fa fa-user"></i>Breecode</a></div>
					<div class="the-date"><a href="#"><i class="fa fa-calendar"></i>Thursday, Dic 18, 2014</a></div>
					<div class="the-comments"><a href="#"><i class="fa fa-comment"></i>3 Comments</a></div>
					<div class="clear"></div>
				</div><!--metas-->
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus esse ea aliquam ipsum, veniam, porro necessitatibus totam non cum voluptatibus magnam? Unde temporibus delectus non corrupti inventore officia eius, omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officia nobis unde animi optio excepturi, laudantium impedit fugiat dicta harum ut non necessitatibus ipsum asperiores. Atque vero aspernatur sed, consequuntur.</p>
				<p>Maecenas venenatis pulvinar mi, lacinia eleifend nunc semper id. Nam feugiat dui ut elit vulputate porta. Mauris ultrices, sapien ultricies cursus fringilla, urna ligula lacinia erat, a tincidunt lorem metus a ipsum. Donec facilisis, sem et convallis consectetur, sapien turpis posuere tellus.</p>

				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<small>Someone famous <cite title="Source Title">Source Title</cite></small>
				</blockquote>
				<p>Maecenas venenatis pulvinar mi, lacinia eleifend nunc semper id. Nam feugiat dui ut elit vulputate porta. Mauris ultrices, sapien ultricies cursus fringilla, urna ligula lacinia erat, a tincidunt lorem metus a ipsum. Donec facilisis, sem et convallis consectetur, sapien turpis posuere tellus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eius ex vel voluptatum. Ipsam incidunt voluptatum quis officiis iste cumque corporis praesentium labore laboriosam. Impedit nostrum, tempore assumenda quibusdam reprehenderit.</p>
	
				
			</div><!--blog-boddy-->
		</div>
		<!-- *** BLOG ITEM END *** -->

		<div class="post_data">
			<div class="used_tags">
				<span>Used Tags: </span>
				<ul>
					<li><a href="#">Visual</a></li>
					<li><a href="#">element</a></li>
					<li><a href="#">masonry</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div class="about_the_author">
			<div class="author_avatar" style="background-image:url('http://placehold.it/100x100');"></div>
			<h4>Adam Shakesp</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla hic nam, cumque quas veniam sint laboriosam mollitia voluptate ducimus ab incidunt omnis consequuntur temporibus, tempora, saepe officiis non tenetur nihil.</p>
			<div class="clear"></div>
		</div>



		<section id="comments">

		<h3 class="blogpost-title">Comments (4)</h3>

		<div class="comments-list">

			<div class="comment">
				<article>
					
					<div class="comment-head">
						<div class="post-info">
							<a href="#" class="post-avatar" style="background-image:url('http://placehold.it/50x50');"></a>
							<a href="#" class="post-author">Jonathan</a> 
							<time datetime="2013-10-30T18:55:25+00:00">On 10 Mar, 2013</time>
							<span class="ago">2 minutes ago</span>
							<div class="clear"></div>
						</div>
					</div>


					<div class="comment-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>

					<a href="#" class="m-btn red-stripe replybutton">Reply</a>
					<div class="clear"></div>
					</div><!-- end .comment-body -->
				</article>
			</div>



		<div class="comment reply">
			<article>
				<div class="comment-head">
					<div class="post-info">
						<a href="#" class="post-avatar" style="background-image:url('http://placehold.it/50x50');"></a>
						<a href="#" class="post-author">Jonathan</a> 
						<time datetime="2013-10-30T18:55:25+00:00">On 10 Mar, 2013</time>
						<span class="ago">2 minutes ago</span>
						<div class="clear"></div>
					</div>
				</div>


				<div class="comment-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>

				<a href="#" class="m-btn red-stripe replybutton">Reply</a>
				<div class="clear"></div>
				</div><!-- end .comment-body -->
			</article>

		</div>

		

			



			<div id="response">
			<h3 class="blogpost-title">Leave a Comment</h3>

				<form method="post" class="reply-input">
					<div class="input-block">
						<input type="text" name="name" value="" id="comment-name" required="">
						<label for="comment-name" class="label_comment"><strong>Name</strong> (required)</label>
					</div>

					<div class="input-block">
						<input type="email" name="email" value="" id="comment-email" required="">
						<label for="comment-email" class="label_comment"><strong>Email</strong> (required)</label>
					</div>

					<div class="input-block">
						<input type="url" name="url" value="" id="comment-url">
						<label for="comment-url" class="label_comment"><strong>Website</strong></label>
					</div>

					<div class="textarea-block">
						<textarea name="message" id="comment-message" cols="88" rows="6" required=""></textarea>
						<div class="clear"></div>
						<label for="comment-message" class="label_comment"><strong>Your Comment</strong> (required)</label>
					</div>

					<input type="submit" value="Submit" class="submit_post">
					<div class="clear"></div>
				</form>

			</div><!--response-->

		</div><!--comment list-->
	</section>






		</div>
	</div>


	<!-- *** SIDEBAR START *** -->
	<div class="sidebar">
		<div class="col-md-4">

			<!-- *** WIDGET TAB POPULAR / RECENT POST END *** -->
			<div class="widget">
				<ul class="trigger_sidebar">
					<li class="popular active"><a href="#popular_post">Popular Post</a></li>
					<li><a href="#recent_post">Recent Post</a></li>
				</ul>

				<div class="post-list-wrapper" id="popular_post">
					<ul>
						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">A Day in the Life of the CEO</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>20 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Collis meeting with some of the head office team</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>12 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Excellent food at the Envato Meetup</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>39 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Collis checking emails and working on Envato's vision</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>54 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Career and job search platform in London</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>11 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Microsoft unveils Jun, a web-sharing app for iOS, Android and Windows Phone</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>22 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						<div class="clear"></div>
						</li>
						

					</ul>
				</div><!--post-list-wrapper POPULAR POST-->

				<div class="clear"></div>
				<div class="post-list-wrapper" id="recent_post">
					<ul>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Career and job search platform in London</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>11 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>

						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Microsoft unveils Jun, a web-sharing app for iOS, Android and Windows Phone</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>22 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>
						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">A Day in the Life of the CEO</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>20 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>
						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Collis meeting with some of the head office team</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>12 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>
						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Excellent food at the Envato Meetup</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>39 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
						</li>
						
						<li>
							<a href="#"><div class="small_featured_image" style="background-image:url('http://placehold.it/70x60');"></div></a>
							<div class="small_title"><a href="#">Collis checking emails and working on Envato's vision</a></div> 
							<div class="list_metas"><a href="#"><span><i class="fa fa-comments"></i>54 Comments</span></a> <a href="#"><span><i class="fa fa-calendar"></i>Oct 24, 2014</span></a></div>
							<div class="clear"></div>
						</li>
						

					</ul>
				</div><!--post-list-wrapper RECENT POST-->
			</div>
			<!-- *** WIDGET TAB POPULAR / RECENT POST END *** -->

			<div class="clear"></div>

			<!-- *** WIDGET TAG CLOUD START *** -->
			<div class="widget tags">
				<h3>Tags</h3>
				<ul>
					<li><a href="#">auto</a></li>
					<li><a href="#">automible</a></li>
					<li><a href="#">angelina</a></li>
					<li><a href="#">CNN</a></li>
					<li><a href="#">obama</a></li>
					<li><a href="#">movie</a></li>
					<li><a href="#">cumbre</a></li>
					<li><a href="#">reviewpark</a></li>
					<li><a href="#">JurasicPark3</a></li>
					<li><a href="#">games</a></li>
					<li><a href="#">movies</a></li>
					<li><a href="#">Trombonit</a></li>
				</ul>
				<div class="clear"></div>
			</div>

			<!-- *** WIDGET TAG CLOUD END *** -->




			<!-- *** WIDGET CATEGORIES START *** -->
			<div class="widget categories">
				<h3>Categories</h3>
				<ul>
					<li><a href="#">Wordpress</a></li>
					<li><a href="#">Development</a></li>
					<li><a href="#">Design</a></li>
					<li><a href="#">Photoshop</a></li>
					<li><a href="#">HTML</a></li>
				</ul>
				<div class="clear"></div>
			</div>

			<!-- *** WIDGET CATEGORIES  END *** -->


		</div><!--col-md-4-->
	</div>
	<!-- *** SIDEBAR END *** -->
			
		</div><!--row-->
	</div><!--container-->
</div><!--blog_wrapper-->



<!-- *** FOOTER START *** -->
<div id="footer">
	<div class="col_footer">
		<h2>About Us</h2>
		<div class="footer_logo"><img src="images/logo_footer.png" alt=""></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aspernatur, ratione voluptatum a, quam voluptate quibusdam reiciendis cupiditate quia fugiat earum, vero eveniet reprehenderit.</p>

		<div class="divider_padding small"></div>

		<h2>Our location</h2>

		<ul class="footer_adress">
			<li><i class="fa fa-map-marker fa-2x"></i>1090 California Street, 3dn Floor, Punta del Este, Uruguay.</li>
			<li><i class="fa fa-mobile fa-2x"></i>+124 456 789 / +000 123 456</li>
		</ul>
	

		<div class="divider_padding small"></div>

		<h2>Social</h2>

		<ul class="footer_icon">
			<li><a href="#"><i class="fa fa-pinterest fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-behance fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square fa-2x"></i></a></li>
		</ul>


	
	</div>

	<div class="col_footer middle">
			<h2>Our latest tweets</h2>	
		<div class="tweet"></div>
	</div>

	<div class="col_footer">
		<h2>Contact</h2>

		<form method="post" class="reply-input" action="send.php">
			<input type="text" name="name" id="contact-name" required="" value="Your name (required)" onblur="if(this.value=='')this.value='Your name (required)'" onfocus="if(this.value=='Your name (required)')this.value=''"/>
			<input type="email" name="email" id="contact-email" required="" value="Your email (required)" onblur="if(this.value=='')this.value='Your email (required)'" onfocus="if(this.value=='Your email (required)')this.value=''"/>
			<input type="text" name="website" id="contact-url" value="Your website" onblur="if(this.value=='')this.value='Your website'" onfocus="if(this.value=='Your website')this.value=''"/>
			<textarea name="message" id="contact-message" cols="88" rows="6" required="" onblur="if(this.value=='')this.value='Your message'" 
			onfocus="if(this.value=='Your message')this.value=''">Your message</textarea>
			<div class="clear"></div>
			<input class="submit_buttom" type="submit" value="Send Message">
		</form>
			
	</div>

	
	<div class="clear"></div>
</div>
<!-- *** FOOTER END *** -->

<!-- *** SUBFOOTER START *** -->
<div id="subfooter">
<div class="copyright">Copyright 2014. All Right Reserved.</div> <div class="by_author">Pixel & Code by <a href="#">Breecode</a></div><div class="clear"></div>
</div>
<!-- *** SUBFOOTER END *** -->









<!-- SCRTIPS START-->


<div class="loading_icon"></div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>	
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript" src="js/isotope.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/tweetie.js"></script>
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->

<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>