<!-- *** HEADER STARTS *** -->
<header class="center_style dark_menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				

				<!-- *** MAIN NAVIGATION STARTS *** -->
				<nav class="main_nav white">
					<ul>
						<li class="active"><a href="#top">Home</a></li>
						<li><a href="#about-us">About </a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#process_one">Process</a></li>
						<li><a href="#faq">FAQ</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#footer">Contact</a></li>
					</ul>
				</nav>
				<!-- *** MAIN NAVIGATION END *** -->

				

				<ul class="mobile_nav_trigger">
						<li><a href="#responsive_nav" class="menu_trigger"><i class="fa fa-bars fa-2x"></i></a></li>
				</ul>

				<div class="social_nav">
					<ul>
						<li class="twitter_header_icon"><a href="#twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li class="facebook_header_icon"><a href="#facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
					</ul>
				</div>
				

				<!-- *** LOGOS STARTS *** -->
				<div id="logo">
					<a href="#top"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="logo_dark">
					<a href="#top"><img src="images/logo_dark.png" alt="logo"></a>
				</div> 
				<!-- *** LOGOS END *** -->


			</div><!--col-me-12-->
		</div><!--row-->
	</div><!--container-fluid-->


<!-- *** RESPONSIVE NAV START *** -->
	<div class="responsive_nav">
		<div class="mobileAreaMenu dark_style">
			<ul>
				<li class="active"><a href="#top">Home</a></li>
				<li><a href="#about-us">About </a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#process_one">Process</a></li>
				<li><a href="#faq">FAQ</a></li>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#footer">Contact</a></li>
				<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
			</ul>
		</div><!--mobileAreaMenu-->
	</div><!--responsive_nav-->
<!-- *** RESPONSIVE NAV END *** -->

</header>
<!-- *** HEADER END *** -->