<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<title>Anderson - Responsive Onepage Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="css/YTPlayer.css" rel="stylesheet" type="text/css" />

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="rs-plugin/css/extralayers.css" media="screen" />


<!-- MAIN STYLES FOR THE TEMPLATE -->
<link href="style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="top"></div>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	
	<div class="container">
		<div class="item-data">
		<div class="helper">

		<div class="row">

			<div class="col-md-8">
				<div class="portfolioAjaxImage">
						<div class="portfolio_slide">

							<div class="item"><a href="http://placehold.it/800x600" data-gal="prettyPhoto"><img src="http://placehold.it/800x600" alt="The World is a Party"></a></div>
							<div class="item"><a href="http://placehold.it/800x600" data-gal="prettyPhoto"><img src="http://placehold.it/800x600" alt="The World is a Party"></a></div>
							<div class="item"><a href="http://placehold.it/800x600" data-gal="prettyPhoto"><img src="http://placehold.it/800x600" alt="The World is a Party"></a></div>

						</div>

					
				</div>
			</div>

			<div class="col-md-4">
				<h3>The World is a Party</h3>
				<div class="hr hr_small"> <span class="hr_inner"></span></div>
				<div class="portfolioContent">
					<p class="portfolioDescription">Breecode did a great job with our website, we are very happy!</p>
					<h5><a href="#" class="linkactive">TWISP</a></h5>

					<h3>Design</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>

					

					<ul class="portfolioAjaxMetaList">
						<li><strong>Skills :</strong> HTML5, JS, CSS3</li>
						<li><strong>Client:</strong> Pixels</li>
						<li><strong>Project URL:</strong> <a href="http://www.themeforest.net/?ref=breecode" target="_blank">www.themeforest.net</a></li>
					</ul>
					<br>

					<a href="#link" class="btn btn-deep">Launch Project</a> 
					<a href="#link" class="btn btn-primary">Download</a>
				</div><!--portfolioContent-->
			</div>

				
		</div><!--item data--> 

	</div><!--helper-->
		</div><!--item-data-->
			
	</div>

<!-- SCRTIPS START-->


<div class="loading_icon"></div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>	
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript" src="js/isotope.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/tweetie.js"></script>
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->

<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>