<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<title>Anderson - Responsive Onepage Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- DEFAULT TEMPLATE FONTS DO NOT REMOVE -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<!-- EXTRA FONT FOR SLIDER -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

<!-- MAIN CSS LIBRARIES -->
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="css/YTPlayer.css" rel="stylesheet" type="text/css" />
<link href="css/animate.css" rel="stylesheet" type="text/css" />

<!-- SHORTCODES HIGHLIGHT -->
<link href="js/pretty/shortcodes.css" rel="stylesheet" type="text/css" />

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="rs-plugin/css/extralayers.css" media="screen" />

<!-- MAIN STYLES FOR THE TEMPLATE -->
<link href="style.css" rel="stylesheet" type="text/css" />




</head>

<body>
<div id="top"></div>



<!-- *** HEADER STARTS *** -->
<header class="transparent_menu">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<!-- *** LOGOS STARTS *** -->
				<div id="logo">
					<a href="#top"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="logo_dark">
					<a href="#top"><img src="images/logo_dark.png" alt="logo"></a>
				</div> 
				<!-- *** LOGOS END *** -->

			

				<ul class="mobile_nav_trigger">
						<li><a href="#responsive_nav" class="menu_trigger"><i class="fa fa-bars fa-2x"></i></a></li>
				</ul>

					<div class="social_nav">
					<ul>
						<li class="twitter_header_icon"><a href="#twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li class="facebook_header_icon"><a href="#facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
					
					</ul>
				</div>
				

				<!-- *** MAIN NAVIGATION STARTS *** -->
				<nav class="main_nav white">
					<ul>
						<li class="active"><a href="index.html#top" class="external">Home</a></li>
						<li><a href="index.html#about-us" class="external">About </a></li>
						<li><a href="index.html#services" class="external">Services</a></li>
						<li><a href="index.html#portfolio" class="external">Portfolio</a></li>
						<li><a href="index.html#process_one" class="external">Process</a></li>
						<li><a href="index.html#faq" class="external">FAQ</a></li>
						<li><a href="index.html#blog" class="external">Blog</a></li>
						<li><a href="index.html#footer" class="external">Contact</a></li>
						<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
					</ul>
				</nav>
				<!-- *** MAIN NAVIGATION END *** -->

			</div><!--col-me-12-->
		</div><!--row-->
	</div><!--container-fluid-->


<!-- *** RESPONSIVE NAV START *** -->
	<div class="responsive_nav">
		<div class="mobileAreaMenu">
			<ul>
				<li class="active"><a href="index.html#top" class="external">Home</a></li>
				<li><a href="index.html#about-us" class="external">About </a></li>
				<li><a href="index.html#services" class="external">Services</a></li>
				<li><a href="index.html#portfolio" class="external">Portfolio</a></li>
				<li><a href="index.html#process_one" class="external">Process</a></li>
				<li><a href="index.html#faq" class="external">FAQ</a></li>
				<li><a href="index.html#blog" class="external">Blog</a></li>
				<li><a href="index.html#footer" class="external">Contact</a></li>
				<li><a href="shortcodes.html" class="external">Shortcodes <span class="label label-danger">New</span></a></li>
			</ul>
		</div><!--mobileAreaMenu-->
	</div><!--responsive_nav-->
<!-- *** RESPONSIVE NAV END *** -->

</header>
<!-- *** HEADER END *** -->


<!-- *** SLIDE STARTS *** -->
<div id="blog_header" style="background-image: url(http://placehold.it/1920x350);">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="blog_title_heading">
				<h1>Shortcodes</h1>
			</div>
		</div><!--col-md-12-->
		
	</div>
</div>
</div>
<!-- *** SLIDE END *** -->



<div id="process_one" class="section">


	<div class="process_wrapper">
		<div class="container">
			<div class="row">



<!-- *** GRID SYSTEM END *** -->

<div class="col-md-12">
	<h1>Grid System</h1>
</div>

<div class="col-md-12">
	<h3>One Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
<pre><code class="language-markup">&lt;div class="col-md-12"&gt; { Your content } &lt;/div&gt;</code></pre>

</div><!--col-md-12-->

<div class="col-md-6">
	<h3>Two Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-6"&gt; { Your content } &lt;/div&gt;</code></pre>
</div>
<div class="col-md-6">
	<h3>Two Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-6"&gt; { Your content } &lt;/div&gt;</code></pre>
</div>


<div class="col-md-4">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-4"&gt; { Your content } &lt;/div&gt;</code></pre>
</div>
<div class="col-md-4">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-4"&gt; { Your content } &lt;/div&gt;</code></pre>
</div>
<div class="col-md-4">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-4"&gt; { Your content } &lt;/div&gt;</code></pre>
</div>




<div class="col-md-3">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-3"&gt;Content&lt;/div&gt;</code></pre>
</div>
<div class="col-md-3">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-3"&gt;Content&lt;/div&gt;</code></pre>
</div>
<div class="col-md-3">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-3"&gt;Content&lt;/div&gt;</code></pre>
</div>
<div class="col-md-3">
	<h3>Three Column</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint quod explicabo voluptatum quas accusantium error sequi enim repellat, repudiandae natus, molestias commodi officiis quo consectetur, tempore similique. Sint, cumque.</p>
	<pre><code class="language-markup">&lt;div class="col-md-3"&gt;Content&lt;/div&gt;</code></pre>
</div>

<!-- *** GRID SYSTEM END *** -->




<div class="clear"></div>
<div class="divider_padding"></div>



<!-- *** ALERTS START *** -->
<div class="col-md-12">
	<h1>Alerts</h1>
</div>

<div class="col-md-6">
	<div class="alert alert-success" role="alert">Well done! You successfully read this important alert message.</div>
	<pre><code class="language-markup">&lt;div class="alert alert-success" role="alert"&gt; Text &lt;/div&gt;</code></pre>

	<div class="divider_padding small"></div>

	<div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but it's not super important.</div>
	<pre><code class="language-markup">&lt;div class="alert alert-info" role="alert"&gt; Text &lt;/div&gt;</code></pre>
</div>




<div class="col-md-6">
	<div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not looking too good.</div>
	<pre><code class="language-markup">&lt;div class="alert alert-warning" role="alert"&gt; Text &lt;/div&gt;</code></pre>

	<div class="divider_padding small"></div>

	<div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try submitting again.</div>
	<pre><code class="language-markup">&lt;div class="alert alert-danger" role="alert"&gt; Text &lt;/div&gt;</code></pre>
</div>



<!-- *** ALERTS END *** -->


<div class="clear"></div>
<div class="divider_padding"></div>



<!-- *** Dismissible alerts START *** -->
<div class="col-md-12">
	<h1>Dismissible alerts</h1>
</div>

<div class="col-md-12">
	

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<pre><code class="language-markup">&lt;div class="alert alert-warning alert-dismissible" role="alert"&gt;
  &lt;button type="button" class="close" data-dismiss="alert"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;span class="sr-only"&gt;Close&lt;/span&gt;&lt;/button&gt;
  &lt;strong&gt;Warning!&lt;/strong&gt; Better check yourself, you're not looking too good.
&lt;/div&gt;
</code></pre>


</div>
<!-- *** Dismissible alerts END *** -->




<div class="clear"></div>
<div class="divider_padding"></div>




<!-- *** SKILL BARS START *** -->
<div class="col-md-12">
	<h1>Skill Bars</h1>
</div>
<div class="col-md-6">
<div class="skill">
<h4>SEO</h4>
<div class="skillbar"><div class="bar"><span class="percent">60%</span></div></div>
<h4>Jquery</h4>
<div class="skillbar"><div class="bar"><span class="percent">80%</span></div></div>
<h4>Wordpress</h4>
<div class="skillbar"><div class="bar"><span class="percent">95%</span></div></div>
<h4>HTML5</h4>
<div class="skillbar"><div class="bar"><span class="percent">90%</span></div></div>
<h4>CSS</h4>
<div class="skillbar"><div class="bar"><span class="percent">80%</span></div></div>
</div><!--skills-->
</div>

<div class="col-md-6">
	<h3>Code for skill bars</h3>
<pre><code class="language-markup">&lt;div class="skill"&gt;
	&lt;h4&gt;SEO&lt;/h4&gt;
	&lt;div class="skillbar"&gt;&lt;div class="bar" style="width: 60%;"&gt;&lt;span class="percent"&gt;60%&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;
	&lt;h4&gt;Jquery&lt;/h4&gt;
	&lt;div class="skillbar"&gt;&lt;div class="bar" style="width: 80%;"&gt;&lt;span class="percent"&gt;80%&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;
	&lt;h4&gt;Wordpress&lt;/h4&gt;
	&lt;div class="skillbar"&gt;&lt;div class="bar" style="width: 95%;"&gt;&lt;span class="percent"&gt;95%&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;
	&lt;h4&gt;HTML5&lt;/h4&gt;
	&lt;div class="skillbar"&gt;&lt;div class="bar" style="width: 90%;"&gt;&lt;span class="percent"&gt;90%&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;
	&lt;h4&gt;CSS&lt;/h4&gt;
	&lt;div class="skillbar"&gt;&lt;div class="bar" style="width: 80%;"&gt;&lt;span class="percent"&gt;80%&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>
<div class="clear"></div>
<!-- *** SKILL BARS END *** -->

<div class="clear"></div>
<div class="divider_padding"></div>


<!-- *** SKILL BARS START *** -->
<div class="col-md-12">
	<h1>Skill Bars STRIPED</h1>
</div>
<div class="col-md-6">
<div class="skill">
<h4>SEO</h4>
<div class="skillbar"><div class="bar progress-bar-striped active progress-bar"><span class="percent">60%</span></div></div>
<h4>Jquery</h4>
<div class="skillbar"><div class="bar progress-bar-striped active progress-bar"><span class="percent">80%</span></div></div>
<h4>Wordpress</h4>
<div class="skillbar"><div class="bar progress-bar-striped active progress-bar"><span class="percent">95%</span></div></div>
<h4>HTML5</h4>
<div class="skillbar"><div class="bar progress-bar-striped active progress-bar"><span class="percent">90%</span></div></div>
<h4>CSS</h4>
<div class="skillbar"><div class="bar progress-bar-striped active progress-bar"><span class="percent">80%</span></div></div>
</div><!--skills-->
</div>

<div class="col-md-6">
	<h3>Code for skill bars stripped</h3>
<pre><code class="language-markup">&lt;div class="skill"&gt;
	&lt;h4&gt;SEO&lt;/h4&gt;
	&lt;div class="skillbar"&gt;&lt;div class="bar progress-bar-striped active progress-bar" style="width: 60%;"&gt;&lt;span class="percent"&gt;60%&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
<span>Just add the class <code>.progress-bar-striped</code></span><br>
<span>To add animation and striped style use this classes <code>bar progress-bar-striped active progress-bar</code></span>
</div>
<div class="clear"></div>




<!-- *** SKILL BARS END *** -->










<div class="clear"></div>
<div class="divider_padding"></div>











<!-- *** BUTTONS START *** -->
<div class="col-md-12">
	<h1>Buttons</h1>
</div>


<div class="col-md-12">
	<a href="#link" class="btn btn-primary">Primary</a>
	<a href="#link" class="btn btn-success">Success</a>
	<a href="#link" class="btn btn-warning">Warning</a>
	<a href="#link" class="btn btn-danger">Danger</a>
	<a href="#link" class="btn btn-deep">Deep</a>
	<a href="#link" class="btn btn-info">Info</a>
	<a href="#link" class="btn btn-default disabled">Disabled Button</a>

<div class="divider_padding small"></div>
<pre><code class="language-markup">&lt;a href="#link" class="btn btn-primary"&gt;Primary&lt;/a&gt;
&lt;a href="#link" class="btn btn-success"&gt;Success&lt;/a&gt;
&lt;a href="#link" class="btn btn-warning"&gt;Warning&lt;/a&gt;
&lt;a href="#link" class="btn btn-danger"&gt;Danger&lt;/a&gt;
&lt;a href="#link" class="btn btn-deep"&gt;Deep&lt;/a&gt;
&lt;a href="#link" class="btn btn-info"&gt;Info&lt;/a&gt;
&lt;a href="#link" class="btn btn-default disabled"&gt;Disabled Button&lt;/a&gt;</code></pre>

</div>
<!-- *** BUTTONS END *** -->





<div class="clear"></div>
<div class="divider_padding"></div>




<!-- ******** LABELS START ******** -->

<div class="col-md-12">
		<h1>Labels</h1>
</div>
<div class="col-md-6">
		
		<h2><span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
		<span class="label label-deep">Deep</span>
	</h2>
	
	</div><!--col-6-->



<div class="col-md-6">
<pre>
<code class="language-markup">
&lt;h2&gt;
	&lt;span class="label label-default"&gt;Default&lt;/span&gt;
	&lt;span class="label label-primary"&gt;Primary&lt;/span&gt;
	&lt;span class="label label-success"&gt;Success&lt;/span&gt;
	&lt;span class="label label-info"&gt;Info&lt;/span&gt;
	&lt;span class="label label-warning"&gt;Warning&lt;/span&gt;
	&lt;span class="label label-danger"&gt;Danger&lt;/span&gt;
	&lt;span class="label label-deep"&gt;Deep&lt;/span&gt;
&lt;/h2&gt;
</code>
</pre>
	</div><!--col-6-->

<!-- ******** LABELS END ******** -->



<div class="clear"></div>
<div class="divider_padding"></div>



<!-- ******** BADGES START ******** -->

<div class="col-md-12">
		<h1>Badges</h1>
</div>
<div class="col-md-6">
		
	<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#"><span class="badge ">42</span>Home</a></li>
			<li class="active"><a href="#"><span class="badge pull-right">42</span>Home</a></li>
		</ul>
	
	</div><!--col-6-->



<div class="col-md-6">
<pre>
<code class="language-markup">
&lt;ul class="nav nav-pills nav-stacked"&gt;
&lt;li class="active"&gt;&lt;a href="#"&gt;&lt;span class="badge "&gt;42&lt;/span&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li class="active"&gt;&lt;a href="#"&gt;&lt;span class="badge pull-right"&gt;42&lt;/span&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
	</div><!--col-6-->

<!-- ******** BADGES END ********-->






<div class="clear"></div>
<div class="divider_padding"></div>

<!-- ******** PRETTY PHOTO START ******** -->
<div class="col-md-12">
	<h1>Pretty Photo</h1>

	<div class="row">
		<div class="col-md-3">
			<a href="http://placehold.it/500x300" data-gal="prettyPhoto"><img src="http://placehold.it/500x300" alt=""></a>
		</div>
		<div class="col-md-3">
			<a href="http://placehold.it/500x300" data-gal="prettyPhoto"><img src="http://placehold.it/500x300" alt=""></a>
		</div>
		<div class="col-md-3">
			<a href="http://placehold.it/500x300" data-gal="prettyPhoto"><img src="http://placehold.it/500x300" alt=""></a>
		</div>
		<div class="col-md-3">
			<a href="http://placehold.it/500x300" data-gal="prettyPhoto"><img src="http://placehold.it/500x300" alt=""></a>
		</div>
	</div>
	
	<h3>Code for PrettyPhoto</h3>
<pre>
<code class="language-markup">&lt;a href="images/team-2.jpg" data-gal="prettyPhoto"&gt;&lt;img src="images/team-2.jpg" alt=""&gt;&lt;/a&gt;</code>
</pre>
</div>
<!-- ******** PRETTY PHOTO END ******** -->


<div class="clear"></div>
<div class="divider_padding"></div>



<!-- ******** PRETTY PHOTO GALLERY START ******** -->
<div class="col-md-12">
	<h1>Pretty Photo Gallery</h1>

	<div class="row">
		<div class="col-md-3">
			<a href="http://placehold.it/500x300/00eaff/000000" data-gal="prettyPhoto[name_gallery]" title="You can add caption to pictures."><img src="http://placehold.it/500x300/00eaff/000000"  alt="Red round shape" /></a>

		</div>
		<div class="col-md-3">
			<a href="http://placehold.it/500x300/00eaff/000000" data-gal="prettyPhoto[name_gallery]"><img src="http://placehold.it/500x300/00eaff/000000"  alt="Nice building" /></a>
		</div>
		<div class="col-md-3">
			<a href="http://placehold.it/500x300/00eaff/000000" data-gal="prettyPhoto[name_gallery]"><img src="http://placehold.it/500x300/00eaff/000000"  alt="Rock climbing" /></a>
		</div>
		<div class="col-md-3">
			<a href="http://placehold.it/500x300/00eaff/000000" data-gal="prettyPhoto[name_gallery]"><img src="http://placehold.it/500x300/00eaff/000000"  alt="Rock climbing" /></a>
		</div>
	</div>
	
	<h3>Code for PrettyPhoto</h3>
<pre>
<code class="language-markup">&lt;a href="images/team-2.jpg" class="prettyPhoto"&gt;&lt;img src="images/team-2.jpg" alt=""&gt;&lt;/a&gt;</code>
</pre>
<p>To link images to a gallery use the same name of the gallery inside square brackets like this <code>rel="prettyPhoto[name]"</code></p>
</div>
<!-- ******** PRETTY PHOTO GALLERY END ******** -->



<div class="clear"></div>
<div class="divider_padding small"></div>



<!-- ******** PRETTY PHOTO Youtube ******** -->
<div class="col-md-6">
	<h1>Pretty Photo Youtube Video</h1>

	<a href="https://www.youtube.com/watch?v=i6OwxEd0Th0?rel=0" data-gal="prettyPhoto" title="YouTube demo"><img src="http://placehold.it/700x350/ffba00/000000" alt=""></a>
	
	<h3>Code for PrettyPhoto Youtube Video</h3>
<pre>
<code class="language-markup">&lt;a href="https://www.youtube.com/watch?v=i6OwxEd0Th0?rel=0" data-gal="prettyPhoto" title="YouTube demo"&gt;&lt;img src="images/4.jpg" alt=""&gt;&lt;/a&gt;</code>
</pre>
</div>
<!-- ******** PRETTY PHOTO Youtube END ******** -->


<!-- ******** PRETTY PHOTO Vimeo ******** -->
<div class="col-md-6">
	<h1>Pretty Photo Vimeo Video</h1>

	<a href="http://vimeo.com/108843586" data-gal="prettyPhoto" title="Vimeo demo"><img src="http://placehold.it/700x350/ffba00/000000" alt=""></a>
	
	<h3>Code for PrettyPhoto Vimeo Video</h3>
<pre>
<code class="language-markup">&lt;a href="http://vimeo.com/108843586" data-gal="prettyPhoto" title="Vimeo demo"&gt;&lt;img src="images/4.jpg" alt=""&gt;&lt;/a&gt;</code>
</pre>
</div>
<!-- ******** PRETTY PHOTO Vimeo END ******** -->


<div class="clear"></div>
<div class="divider_padding"></div>






<!-- ******** LIST STYLES START ******** -->
<div class="col-md-12">
	<h1>List Styles</h1>

	<div class="row">
		<div class="col-md-4">
			<ul class="circles">
				<li>Circle list style</li>	
				<li>Circle list style</li>								
				<li>Circle list style</li>	
				<li>Circle list style</li>	
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="disc">
				<li>Disc list style</li>	
				<li>Disc list style</li>								
				<li>Disc list style</li>	
				<li>Disc list style</li>	
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="square">
				<li>Square list style</li>	
				<li>Square list style</li>								
				<li>Square list style</li>	
				<li>Square list style</li>	
			</ul>
		</div>
	</div><!--row-->

	
	
	<h3>Code for &lt;ul&gt; list styles</h3>
<pre>
<code class="language-markup">&lt;ul class="disc"&gt;&lt;li&gt;Disc list style&lt;/li&gt;&lt;/ul&gt;
&lt;ul class="circles"&gt;&lt;li&gt;Circle list style&lt;/li&gt;&lt;/ul&gt;
&lt;ul class="squre"&gt;&lt;li&gt;Squre list style&lt;/li&gt;&lt;/ul&gt;</code>
</pre>
<p>The three classes are: <code>.disc .circles and .squre</code></p>
</div>
<!-- ******** LIST STYLES END ******** -->





<div class="clear"></div>
<div class="divider_padding"></div>





<!-- ******** BLOCKQUOTES START ******** -->

<div class="col-md-12">
		<h1>Blockquotes</h1>
</div>

<div class="col-md-6">
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>

<h3>Code for Blockquotes</h3>
<pre>
<code class="language-markup">&lt;blockquote&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;small&gt;Someone famous &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/small&gt;
&lt;/blockquote&gt;</code>
</pre>
</div>



<div class="col-md-6">		
<blockquote class="pull-right">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>
<h3>Code for Blockquotes Right</h3>
<pre>
<code class="language-markup">&lt;blockquote class="pull-right"&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;small&gt;Someone famous &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/small&gt;
&lt;/blockquote&gt;</code>
</pre>
</div>

<!-- ******** BLOCKQUOTES END ******** -->




<div class="clear"></div>
<div class="divider_padding"></div>







<!-- ******** PAGE TITLE START ******** -->

<div class="col-md-12">
		<h1>Page Title</h1>
</div>
<div class="col-md-6">
		
	
		<div class="page_title">
	<h1 class="title">WANT TO KNOW US BETTER? <strong>WE DON’T BITE</strong></h1>
	<h2 class="page_subtitle">We focus your idea into a unique vision and identity.</h2>
</div><!--page-title-->
	
	</div><!--col-6-->



<div class="col-md-6">
<pre>
<code class="language-markup">
&lt;div class="page_title"&gt;
	&lt;h1 class="title"&gt;WANT TO KNOW US BETTER? &lt;strong&gt;WE DON’T BITE&lt;/strong&gt;&lt;/h1&gt;
	&lt;h2 class="page_subtitle"&gt;We focus your idea into a unique vision and identity.&lt;/h2&gt;
&lt;/div&gt;&lt;!--page-title--&gt;
</code>
</pre>
	</div><!--col-6-->

<!-- ******** PAGE TITLE END ******** -->








<!-- /******** TABS START ******** -->

<div class="col-md-12">
		<h1>Tabs</h1>
</div>


<div class="col-md-6">


	<div class="tabs">
		<ul class="tabs-control">
			<li><a href="#tab-1">Tab 1</a></li>
			<li><a href="#tab-2">Tab 2</a></li>
			<li><a href="#tab-3">Tab 3</a></li>
		</ul>
	<div class="tabs-tabs">

		<div class="tabs-tab tab-1">
			<h3>This is an example of a block tab</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Molestie non, porta eget nisi. Sed nec felis id est tincidunt laoreet. Fusce sollicitudin scelerisque gravida.<span class="pink">This is a span tag</span> Nulla hendrerit imperdiet turpis, quis facilisis ante sollicitudin vel. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec rhoncus feugiat neque, et dapibus lacus aliquet vitae. In pretium velit non tellus imperdiet mollis.</p>
			<div class="clear"></div>
		</div><!--end tab1-->

		<div class="tabs-tab tab-2">
			<h3>This is an example of a block tab</h3>
			<p>Lorem ipsum dolor sit amet, ieeget nisi. Sed nec felis id est tincidunt laoreet. Fusce sollicitudin scmontes,<span class="pink">This is a span tag</span> nascetur ridiculus mus. Donec rhoncus feugiat neque, et dapibus lacus aliquet vitae. In pretium velit non tellus imperdiet mollis.</p>
			<div class="clear"></div>
		</div><!--end tab 2-->

		<div class="tabs-tab tab-3">
			<h3>This is an example of a block tab</h3>
			<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit.Molestie non, porta eget nisi. Sed nec felis id est tincidunt laoreet. Fusce sollicitudin scelerisque gr imperdiet turpis, quis facilisis ante sollicitudin vel. Cum sociis natoque penatibus et magnis dis parturient montes, <span class="pink">This is a span tag</span> nascetur ridiculus mus. Donec rhoncus feugiat neque, et dapibus lacus aliquet vitae. In pretium velit non tellus imperdiet mollis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Molestie non, porta eget nisi. Sed nec felis id est tincidunt laoreet. Fusce sollicitudin scelerisque gr imperdiet turpis, quis facilisis ante sollicitudin vel. Cum sociis natoque penatibus et magnis dis parturient montes, <span class="pink">This is a span tag</span> nascetur ridiculus mus. Donec rhoncus feugiat neque, et dapibus lacus aliquet vitae. In pretium velit non tellus imperdiet mollis.</p>
			<div class="clear"></div>
		</div><!--end tab 3-->
	</div>
	</div><!--End Tabs-->
	    <div class="clear"></div>
	</div><!--col-6-->

<div class="col-md-6">
		<h3>Code for tabs</h3>
<pre>
<code class="language-markup">&lt;div class="tabs"&gt;
		&lt;ul class="tabs-control"&gt;
			&lt;li&gt;&lt;a href="#tab-1"&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#tab-2"&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#tab-3"&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;div class="tabs-tabs"&gt;
		&lt;div class="tabs-tab tab-1"&gt;
			&lt;h3&gt;This is an example of a block tab&lt;/h3&gt;
			{ Content }
		&lt;/div&gt;&lt;!--end tab1--&gt;

		&lt;div class="tabs-tab tab-2"&gt;
			&lt;h3&gt;This is an example of a block tab&lt;/h3&gt;
			{ Content }
			&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;/div&gt;&lt;!--end tab 2--&gt;

		&lt;div class="tabs-tab tab-3"&gt;
			&lt;h3&gt;This is an example of a block tab&lt;/h3&gt;
			{ Content }
			&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;/div&gt;&lt;!--end tab 3--&gt;
	&lt;/div&gt;
&lt;/div&gt;&lt;!--End Tabs--&gt;</code>
</pre>
</div><!--col-6-->

<!-- ******** TABS END ******** -->


    <div class="clear"></div>
    <div class="divider_padding"></div>
<!-- ******** TABLES START ******** -->


<div class="col-md-12">
		<h1>Tables</h1>
	<table cellspacing='0'>
	<tr>
	  <th><strong>Tag</strong></th>
	  <th><strong align="center">Description</strong></th>
  </tr>
	<tr>
	  <td><strong>&lt;table&gt;</strong></td>
	  <td>Wrapping element for displaying data in a tabular format</td>
  </tr>
	<tr class="even">
	  <td><strong>&lt;thead&gt;</strong></td>
	  <td>Container element for table header rows (&lt;tr&gt;) to label table columns</td>
  </tr>
	<tr>
	  <td><strong>&lt;tbody&gt;</strong></td>
	  <td>Container element for table rows (&lt;tr&gt;) in the body of the table</td>
  </tr>
	<tr class="even">
	  <td><strong>&lt;tr&gt;</strong></td>
	  <td>Container element for a set of table cells (&lt;td&gt; or &lt;th&gt;) that appears on a single row</td>
  </tr>
	<tr>
	  <td><strong>&lt;td&gt;</strong></td>
	  <td>Default table cell</td>
  </tr>
	<tr class="even">
	  <td><strong>&lt;th&gt;</strong></td>
	  <td>Special table cell for column (or row, depending on scope and placement) labels<br />
	    Must be used within a &lt;thead&gt;</td>
  </tr>
	<tr>
	  <td><strong>&lt;caption&gt;</strong></td>
	  <td>Description or summary of what the table holds, especially useful for screen readers</td>
  </tr>

</table>
</div>
<div class="col-md-12">
	<h3>Code for tables</h3>
<pre>
<code class="language-markup">&lt;table cellspacing='0'&gt;
	&lt;tr&gt;
	  &lt;th&gt;&lt;strong&gt;Tag&lt;/strong&gt;&lt;/th&gt;
	  &lt;th&gt;&lt;strong align="center"&gt;Description&lt;/strong&gt;&lt;/th&gt;
  &lt;/tr&gt;
	&lt;tr&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;table&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Wrapping element for displaying data in a tabular format&lt;/td&gt;
  &lt;/tr&gt;
	&lt;tr class="even"&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;thead&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Container element for table header rows (&lt;tr&gt;) to label table columns&lt;/td&gt;
  &lt;/tr&gt;
	&lt;tr&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;tbody&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Container element for table rows (&lt;tr&gt;) in the body of the table&lt;/td&gt;
  &lt;/tr&gt;
	&lt;tr class="even"&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;tr&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Container element for a set of table cells (&lt;td&gt; or &lt;th&gt;) that appears on a single row&lt;/td&gt;
  &lt;/tr&gt;
	&lt;tr&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;td&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Default table cell&lt;/td&gt;
  &lt;/tr&gt;
	&lt;tr class="even"&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;th&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Special table cell for column (or row, depending on scope and placement) labels&lt;br /&gt;
	    Must be used within a &lt;thead&gt;&lt;/td&gt;
  &lt;/tr&gt;
	&lt;tr&gt;
	  &lt;td&gt;&lt;strong&gt;&lt;caption&gt;&lt;/strong&gt;&lt;/td&gt;
	  &lt;td&gt;Description or summary of what the table holds, especially useful for screen readers&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</code>
</pre>
	</div><!--col-6-->
<!-- ******** TABLES END ******** -->

<div class="clear"></div>
<div class="divider_padding"></div>

<!-- *** ACCORDIONS END *** -->


<div class="col-md-6">
		<h1>Accordions</h1>
	<div class="accordion_wrap">

	     <h3 class="accordion"><a href="#"><i class="fa fa-plus"></i><i class="fa fa-minus"></i>This is an example of a accordion</a></h3>
		 <div class="accordion_container">
			<div class="block">
				<p> Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
			</div>			        
	    </div><!--accordion container-->   
		
	    <h3 class="accordion"><a href="#"><i class="fa fa-plus"></i><i class="fa fa-minus"></i>This is a second accordion</a></h3>
		<div class="accordion_container">
			<div class="block">
				<p> Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
			</div>			        
	    </div><!--accordion container-->   
		
	    <h3 class="accordion"><a href="#"><i class="fa fa-plus"></i><i class="fa fa-minus"></i>This is a third accordion</a></h3>
	    <div class="accordion_container">
			<div class="block">
				<p> Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
			</div>			        
	    </div><!--accordion container-->    
					
		</div><!--accordions-->

</div>


<div class="col-md-6">
	

<h3>Code for Accordion</h3>
<pre><code class="language-markup">&lt;div class="accordion_wrap"&gt;
	 &lt;h3 class="accordion"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;i class="fa fa-minus"&gt;&lt;/i&gt;This is an example of a accordion&lt;/a&gt;&lt;/h3&gt;
	 &lt;div class="accordion_container"&gt;
		&lt;div class="block"&gt;
			{ Content }
		&lt;/div&gt;			        
	&lt;/div&gt;&lt;!--accordion container--&gt;   

	&lt;h3 class="accordion"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;i class="fa fa-minus"&gt;&lt;/i&gt;This is a second accordion&lt;/a&gt;&lt;/h3&gt;
	&lt;div class="accordion_container"&gt;
		&lt;div class="block"&gt;
			{ Content }
		&lt;/div&gt;			        
	&lt;/div&gt;&lt;!--accordion container--&gt;   

	&lt;h3 class="accordion"&gt;&lt;a href="#"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;i class="fa fa-minus"&gt;&lt;/i&gt;This is a third accordion&lt;/a&gt;&lt;/h3&gt;
	&lt;div class="accordion_container"&gt;
		&lt;div class="block"&gt;
			{ Content }
		&lt;/div&gt;			        
	&lt;/div&gt;&lt;!--accordion container--&gt;    
				
&lt;/div&gt;&lt;!--accordion_wrap--&gt;</code></pre>
</div>
<!-- *** ACCORDIONS END *** -->



<div class="clear"></div>
<div class="divider_padding"></div>






<!-- *** TOGGLE END *** -->

<div class="col-md-6">
	<h1>Toggles</h1>
<div class="toggle">        
<h3 class="trigger"><a href="#"><i class="fa fa-plus"></i><i class="fa fa-minus"></i>This is an example of a toggle</a></h3>
<div class="toggle_container">
<div class="block">
<p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus.</p>
</div>
</div><!--trugger dark-->


<h3 class="trigger"><a href="#"><i class="fa fa-plus"></i><i class="fa fa-minus"></i>This is a second toggle</a></h3>
<div class="toggle_container">
<div class="block">
<p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus.</p>
</div>
</div><!--trugger dark-->


<h3 class="trigger"><a href="#"><i class="fa fa-plus"></i><i class="fa fa-minus"></i>This is a third toggle</a></h3>
<div class="toggle_container">
<div class="block">
<p>Consequat te olim letalis premo ad hos olim odio olim indoles ut venio iusto. Euismod, sagaciter diam neque antehabeo blandit, jumentum transverbero luptatum. Lenis vel diam praemitto molior facilisi facilisi suscipere abico, ludus, at. Wisi suscipere nisl ad capto comis esse, autem genitus.</p>
</div>
</div>

</div><!--Toggle -->
</div>


<div class="col-md-6">
	
<h3>Code for Toggle</h3>
<pre><code class="language-markup">&lt;div class="toggle"&gt;         
	&lt;h3 class="trigger"&gt; &lt;a href="#"&gt; &lt;i class="fa fa-plus"&gt; &lt;/i&gt; &lt;i class="fa fa-minus"&gt; &lt;/i&gt; This is an example of a toggle&lt;/a&gt; &lt;/h3&gt; 
	&lt;div class="toggle_container"&gt; 
	&lt;div class="block"&gt; { Content }&lt;/div&gt; &lt;!--trugger dark--&gt; 


	&lt;h3 class="trigger"&gt; &lt;a href="#"&gt; &lt;i class="fa fa-plus"&gt; &lt;/i&gt; &lt;i class="fa fa-minus"&gt; &lt;/i&gt; This is a second toggle&lt;/a&gt; &lt;/h3&gt; 
	&lt;div class="toggle_container"&gt; 
	&lt;div class="block"&gt; { Content }&lt;/div&gt; &lt;!--trugger dark--&gt; 


	&lt;h3 class="trigger"&gt; &lt;a href="#"&gt; &lt;i class="fa fa-plus"&gt; &lt;/i&gt; &lt;i class="fa fa-minus"&gt; &lt;/i&gt; This is a third toggle&lt;/a&gt; &lt;/h3&gt; 
	&lt;div class="toggle_container"&gt; 
	&lt;div class="block"&gt; { Content }&lt;/div&gt; 
&lt;/div&gt; &lt;!--Toggle --&gt;</code></pre>
</div>


<!-- *** TOGGLE END *** -->


<div class="clear"></div>
<div class="divider_padding"></div>



<div class="col-md-12">
	<h1>Pricing Tables</h1>
</div>

	<!-- *** PRICING COLUMN START *** -->
					<div class="col-md-3">
						<div class="pricing-table">
							<div class="pricing_header">
								<h1>Basic</h1>
							</div>
							<div class="pricing_sub_header">
								<h1>$3.99<span>/Monthly</span></h1>
							</div>

							<ul class="features">
								<li>Free Live Support</li>
								<li>Unlimited Users</li>
								<li>No Time Tracking</li>
								<li>Free setup</li>
							</ul><!-- end .features -->

							<div class="pricing_footer">
								<a href="#link" class="btn btn-primary">Purchase Now</a>
							</div>
						</div><!--pricing-table-->

					</div><!--col-md-3-->
					<!-- *** PRICING COLUMN END *** -->


					<!-- *** PRICING COLUMN START *** -->
					<div class="col-md-3">
						<div class="pricing-table">
							<div class="pricing_header">
								<h1>Platinum</h1>
							</div>
							<div class="pricing_sub_header">
								<h1>$5.99<span>/Monthly</span></h1>
							</div>

							<ul class="features">
								<li>Free Live Support</li>
								<li>Unlimited Users</li>
								<li>No Time Tracking</li>
								<li>Free setup</li>
							</ul><!-- end .features -->

							<div class="pricing_footer">
								<a href="#link" class="btn btn-primary">Purchase Now</a>
							</div>
						</div><!--pricing-table-->

					</div><!--col-md-3-->
					<!-- *** PRICING COLUMN END *** -->



<div class="col-md-6">
	<h3>Code for Pricing Tables</h3>
	<pre>
<code class="language-markup">&lt;div class="pricing-table"&gt;
	&lt;div class="pricing_header"&gt;
		&lt;h1&gt;Titanium&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div class="pricing_sub_header"&gt;
		&lt;h1&gt;$19.99&lt;span&gt;/Monthly&lt;/span&gt;&lt;/h1&gt;
	&lt;/div&gt;

	&lt;ul class="features"&gt;
		&lt;li&gt;Free Live Support&lt;/li&gt;
		&lt;li&gt;Unlimited Users&lt;/li&gt;
		&lt;li&gt;No Time Tracking&lt;/li&gt;
		&lt;li&gt;Free setup&lt;/li&gt;
	&lt;/ul&gt;&lt;!-- end .features --&gt;

	&lt;div class="pricing_footer"&gt;
		&lt;a href="#link" class="btn btn-primary"&gt;Purchase Now&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;&lt;!--pricing-table--&gt;</code>
</pre>
</div>





			
				
			</div><!--row-->
		</div>
	</div>

</div>
<!-- *** PROCESS ONE END *** -->










<!-- *** FOOTER START *** -->
<div id="footer">
	<div class="col_footer">
		<h2>About Us</h2>
		<div class="footer_logo"><img src="images/logo_footer.png" alt=""></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aspernatur, ratione voluptatum a, quam voluptate quibusdam reiciendis cupiditate quia fugiat earum, vero eveniet reprehenderit.</p>

		<div class="divider small"></div>

		<h2>Our location</h2>

		<ul class="footer_adress">
			<li><i class="fa fa-map-marker fa-2x"></i>1090 California Street, 3dn Floor, Punta del Este, Uruguay.</li>
			<li><i class="fa fa-mobile fa-2x"></i>+124 456 789 / +000 123 456</li>
		</ul>
	

		<div class="divider small"></div>

		<h2>Social</h2>

		<ul class="footer_icon">
			<li><a href="#"><i class="fa fa-pinterest fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-behance fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square fa-2x"></i></a></li>
		</ul>


	
	</div>

	<div class="col_footer middle">
			<h2>Our latest tweets</h2>	
		<div class="tweet"></div>
	</div>

	<div class="col_footer">
		<h2>Contact</h2>

		<form method="post" class="reply-input" action="send.php">

			<input type="text" name="name" id="comment-name" required="" value="Your name (required)" onblur="if(this.value=='')this.value='Your name (required)'" onfocus="if(this.value=='Your name (required)')this.value=''"/>
			<input type="email" name="email" id="comment-email" required="" value="Your email (required)" onblur="if(this.value=='')this.value='Your email (required)'" onfocus="if(this.value=='Your email (required)')this.value=''"/>
			<input type="text" name="website" id="comment-url" value="Your website" onblur="if(this.value=='')this.value='Your website'" onfocus="if(this.value=='Your website')this.value=''"/>
			<textarea name="message" id="comment-message" cols="88" rows="6" required="" onblur="if(this.value=='')this.value='Your message'" 
			onfocus="if(this.value=='Your message')this.value=''">Your message</textarea>
			<div class="clear"></div>
			<input class="submit_buttom" type="submit" value="Send Message">

		</form>
			
	</div>

	
	<div class="clear"></div>
</div>
<!-- *** FOOTER END *** -->

<!-- *** SUBFOOTER START *** -->
<div id="subfooter">
<div class="copyright">Copyright 2014. All Right Reserved.</div> <div class="by_author">Pixel & Code by <a href="#">Breecode</a></div><div class="clear"></div>
</div>
<!-- *** SUBFOOTER END *** -->






<!-- SCRTIPS START-->







<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>	
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript" src="js/isotope.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/tweetie.js"></script>
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="js/waypoints.min.js"></script>

<script type="text/javascript" src="js/pretty/shortcodes.js"></script>	
<script type="text/javascript" src="js/custom.js"></script>	




   
</body>
</html>