@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- *** WELCOME STARTS *** -->
<!--
    <div id="welcome" ng-app="TalkApp">
        <div>
            <a href="~/Content/images/Schedule2015.pdf"><img src="~/Content/images/Schedule.png" /></a>
        </div>
        <div class="container">
            <div ng-controller="TalkCtrl">
                <div ng-repeat="talk in talks">
                    <h3 ng-click="showDetail(talk.sessionId)">{{talk.title}}</h3>
                    <p>{{talk.startTime}} - {{talk.endTime}} in {{talk.room}} by <a href="/speakers#{{talk.speakerId}}">{{talk.speakerFirstName}} {{talk.speakerLastName}}</a></p>
                    <div ng-show="talk.sessionId == showDetailFor">
                        <p>{{talk.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
<!-- *** WELCOME END *** -->
<div id="welcome" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo_welcome">
                    <h1 class="title">Sessions</h1>
                </div>
                <div class="welcome-text">
                    <p>We will be putting out our call for talks in March. Please check back then!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AngularJS -->
<script type="text/javascript" src="~/scripts/angular.min.js"></script>
<script type="text/javascript" src="~/Content/js/talks.js"></script>


@section page_scripts
{
    $('#top_menu').addClass('dark_menu');
    $('#top_menu').removeClass('transparent_menu');
    $('#logo_dark').html('<img src="~/content/images/logo.png" alt="logo">');
}
