@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- *** WELCOME STARTS *** -->
<div id="welcome" ng-app="TalkApp">
    <div class="container">
        <div ng-controller="TalkCtrl">
            <div ng-repeat="talk in talks">
                <h3 ng-click="showDetail(talk.sessionId)">{{talk.title}}</h3>
                <p>{{talk.startTime}} - {{talk.endTime}} in {{talk.room}} by {{talk.speakerFirstName}} {{talk.speakerLastName}}</p>
                <div ng-show="talk.sessionId == showDetailFor">
                    <p>{{talk.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** WELCOME END *** -->

<!-- AngularJS -->
<script type="text/javascript" src="~/scripts/angular.min.js"></script>
<script type="text/javascript" src="~/Content/js/talks.js"></script>


@section page_scripts
{
    $('#top_menu').addClass('dark_menu');
    $('#top_menu').removeClass('transparent_menu');
    $('#logo_dark').html('<img src="~/content/images/logo.png" alt="logo">');
}
