<!-- *** SLIDE STARTS *** -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="http://placehold.it/320x240" data-saveperformance="on" data-title="Intro Slide">
                <!-- MAIN IMAGE -->
                <img src="content/images/dicello-pittsburgh.jpg" alt="slidebg1" data-lazyload="content/images/dicello-pittsburgh.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <div class="caption lft ltb cap_style_13" style="bottom: 235px; left: 60px; background: gold;"
                    data-easing="easeOutExpo">
                    Pittsburgh TechFest
                </div>

                <div class="caption lft ltb cap_style_13_subtitle" style="bottom: 180px; left: 60px; background: gold;"
                    data-easing="easeOutExpo">
                    Committed to the enrichment of the Pittsburgh technical community.
                </div>

                <!-- CAPTION NR. 3 -->
                <div class="caption lfb cap_style_13_button" style="bottom: 125px; left: 60px; background: gold;"
                    data-easing="easeOutBack">
                    <a href="https://groups.google.com/forum/#!forum/pghtechfest" target="_blank">Get the latest information by joining the mailing list >>
                    </a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- *** SLIDE END *** -->


<!-- *** WELCOME STARTS *** -->
<div id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo_welcome">
                    <img src="content/images/logo-anderson.png" alt="">
                </div>
                <div class="welcome-text" style="text-align: left;">
                    <p>
                        Pittsburgh TechFest is a one-day event on Saturday, June 13th, 2015 where software development 
					professionals from Southwestern Pennsylvania and surrounding areas will get together to talk and learn about 
					perfecting our craft.
                    </p>

                    <p>
                        Topics will include coding, tools, agile, project management, etc. All development disciplines (devs, testers, 
					PMs, DBAs, BAs etc.) and all development stacks (Ruby, Java, .Net, JavaScript, Python, SQL Server, Oracle, etc.) 
					are welcome!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** WELCOME END *** -->




