
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- *** WELCOME STARTS *** -->
<div id="welcome">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo_welcome">
					<h1 class="title" style="text-align: left;">The Call for Speakers is Closed</h1>
				</div>
				<div class="welcome-text" style="text-align: left; margin: 40px 0 0 0">
				    <h2>Thank you for your interest...</h2>
                    <br/>
				    <p>...but at this time the call for speakers is closed. We expect to notify all speakers about their submissions by April 1, and post a schedule shortly thereafter.</p>
                    <p>All the best,</p>
                    <p>The TechFest Organizer Committee</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- *** WELCOME END *** -->

@section page_scripts
{
    $('#top_menu').addClass('dark_menu');
    $('#top_menu').removeClass('transparent_menu');
    $('#logo_dark').html('<img src="~/content/images/logo.png" alt="logo">');
}
    