
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- *** WELCOME STARTS *** -->
<div id="welcome">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo_welcome">
					<h1 class="title" style="text-align: left;">Thank You</h1>
				</div>
				<div class="welcome-text" style="text-align: left; margin: 40px 0 0 0">
				    <h2>Your submission to speak has been received</h2>
                    <br/>
				    <p>Thank you for submitting to speak at Pittsburgh TechFest.</p>
                    <p>We appreciate your time and effort and look forward to reviewing your session proposal.</p>
                    <p>We will follow up with you soon as to the status of your submission.</p>
                    <p>All the best,</p>
                    <p>The TechFest Organizer Committee</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- *** WELCOME END *** -->

@section page_scripts
{
    $('#top_menu').addClass('dark_menu');
    $('#top_menu').removeClass('transparent_menu');
    $('#logo_dark').html('<img src="~/content/images/logo.png" alt="logo">');
}
    