@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- *** WELCOME STARTS *** -->
<div id="welcome" style="background: white;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo_welcome">
					<h1 class="title">Sponsors</h1>
				</div>
				<div class="welcome-text">

				    <h2>Platinum Sponsors</h2>
                    <br/>
				    <a href="http://www.brandingbrand.com/"><img src="~/Content/images/sponsors/brandingbrand.png"/></a>
				    <a href="http://www.componentone.com/"><img src="~/Content/images/sponsors/component-one.png"/></a>
				    <a href="http://www.summa-tech.com/"><img src="~/Content/images/sponsors/summa.png"/></a>
				    <a href="http://www.upmc.com/"><img src="~/Content/images/sponsors/upmc.png"/></a>
				    <br/>
                    <br/>
				    <h2>Gold Sponsors</h2>
                    <br/>
				    <a href="http://www.ciber.com/"><img src="~/Content/images/sponsors/ciber.png"/></a>
				    <a href="http://www.confluence.com/"><img src="~/Content/images/sponsors/confluence.png"/></a>
				    <a href="http://www.iq-inc.com/"><img src="~/Content/images/sponsors/iq.png"/></a>
				    <a href="http://www.omnyx.com/"><img src="~/Content/images/sponsors/omnyx.png"/></a>
				    <br/>
                    <br/>
				    <h2>Breakfast Sponsor</h2>
                    <br/>
				    <a href="http://www.ceiamerica.com/home.aspx"><img src="~/Content/images/sponsors/cei.png"/></a>
				    <a href="http://gentechpgh.com/"><img src="~/Content/images/sponsors/gentech.png"/></a>
				    <br/>
                    <br/>
				    <h2>Event Sponsor</h2>
                    <br/>
                    <a href="http://pghtech.org/"><img src="~/Content/images/sponsors/ptc.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- *** WELCOME END *** -->


