@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- *** WELCOME STARTS *** -->
<div id="welcome" style="background: white;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo_welcome">
					<h1 class="title">Sponsors</h1>
				</div>
				<div class="welcome-text">
				    We have 2016 open opportunities for Platinum, Gold, Breakfast and Event sponsorships. Please contact us today for more information.
				    <br/>
                    <a href="mailto:pittsburghtechfest@gmail.com">pittsburghtechfest@gmail.com</a>
                    <!--
				    <h2>Platinum Sponsors</h2>
                    <br/>
				    
				    <br/>
                    <br/>
				    <h2>Gold Sponsors</h2>
                    <br/>
				    
				    <br/>
                    <br/>
				    <h2>Breakfast Sponsor</h2>
                    <br/>
				    
				    <br/>
                    <br/>
				    <h2>Event Sponsor</h2>
                    <br/>
                    -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- *** WELCOME END *** -->

@section page_scripts
{
    $('#top_menu').addClass('dark_menu');
    $('#top_menu').removeClass('transparent_menu');
    $('#logo_dark').html('<img src="~/content/images/logo.png" alt="logo">');
}
