@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- *** WELCOME STARTS *** -->
<div id="welcome" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo_welcome">
                    <h1 class="title">Sponsors</h1>
                </div>
                <div class="welcome-text">
                    <p>We have 2015 open opportunities for Platinum, Gold, Breakfast and Event sponsorships.</p>
				    
                    <p><a class="btn btn-default" href="mailto:pittsburghtechfest@gmail.com">Email us for more information</a></p>

                    <p><a class="btn btn-default" href="https://drive.google.com/file/d/0Byw7-3j-_TQnUzJlZC1zeW5WeDQ/view?usp=sharing">Click here to download the sponsorship prospectus document</a></p>
                    
                    <iframe src="https://docs.google.com/forms/d/1FsyB32-Q6_uH8Fm3mBP8sflEPbs3ok-exEfF-KsI_hQ/viewform?embedded=true"
                        width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

                    <!--
				    <h2>Platinum Sponsors</h2>
                    <br/>
				    
				    <br/>
                    <br/>
				    <h2>Gold Sponsors</h2>
                    <br/>
				    
				    <br/>
                    <br/>
				    <h2>Breakfast Sponsor</h2>
                    <br/>
				    
				    <br/>
                    <br/>
				    <h2>Event Sponsor</h2>
                    <br/>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** WELCOME END *** -->

@section page_scripts
{
    $('#top_menu').addClass('dark_menu');
    $('#top_menu').removeClass('transparent_menu');
    $('#logo_dark').html('<img src="~/content/images/logo.png" alt="logo">');
}
